<h3>Gestion Langage</h3>



<!-- Page content -->
<table class="table">
  <thead>
    <tr>
      <th style="width:30%" scope="col">Id</th>
      <th style="width:70%" scope="col">Langage</th>
      <!-- <th scope="col">Id-question</th> -->
    </tr>
  </thead>
  <tbody *ngFor="let language of languages; let index = index" class="table">
    <tr>
      <td>{{language.id}} </td>
      <td> {{language.language}}</td>
      <!-- <td>{{language.question_id}}</td> -->
    </tr>
  </tbody>
</table>


<div class="ajout">
  <label>Ajout d'un langage
    <input #language />
  </label>
  <button (click)="addLanguage(language.value); language.value=''">
    Ajout
  </button>
</div>

<div class="suppression">
  <label>Supprimer un langage
    <input #language />
  </label>
  <button (click)="deleteLanguage(language.value); language.value=''">
    Supprimer
  </button>
</div>