<div class="w-100 p-3 image" id="image1">
  <div class="row h-100 text">
    <div>
      <img src="../assets/32578442.png" class="logo" alt="logo" />
        <h1 class="trivial">Trivial'Code</h1>
    </div>
  </div>
</div>


<div class="row h-100 blocBleu">

  <div class="col-md-6">
    <div class="row h-100 text">
      <h3>Qu'es-ce que c'est?</h3>
      <p> ppppppppppppppp
        ppppppppppppppppppp
        ppppppppppppppppppppppp
        pppppppppppppppppppppppp
      </p>
    </div>
  </div>

  <div class="col-md-6">
    <img src="../assets/manette.png" id="manette" alt="logo" />
  </div>

</div>


<div class="image" id="image2">
</div>


<div class="blocBlanc">
  <div class="row h-100 text">
    <h3>Comparer vous à d'autres joueurs</h3>
    <p>ppppppppppppppppppppppppppp
      pppppppppppppppppppppppppppppppp
      pppppppppp
      ppppppppppppppppppp
      pppp
    </p>
  </div>
</div>


<div>
  <div class="row">
    <div class="col-md-6 image" id="image3">
    </div>
    <div class="col-md-6 blocBleu">
    </div>
  </div>
</div>