/* Première image de la page d'accueil */
#image1 
{
    background-image:url('src/assets/PmhEp2yw.jpeg');
    height:725px;
}

/* Titre */
#titleHomePage
{
    font-style: italic;
}

/* Section jeu */
#homeGameSection
{
    height: 560px;
    justify-content: space-around;
    background-color: rgb(138, 221, 239);
}
#textContent
{
    margin: 0px;
}

#manetteContent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#manetteContenair
{
    width: 380px;

    position: relative;
    left: 18%;
}

#manette
{
    width: 100%;
}

/* Intersection */
#image2
{
    background-image:url('src/assets/oIUC4KkQ.png');
    height:235px; 
}

/* et si c'était vous? + Ladder */
#colorSection, #ladderSection
{

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#colorSection
{
    background-color: rgb(138, 221, 239);
}

#image3
{
    background-image:url('src/assets/image3.jpg');
    height:400px; 
    background-position:50% 80%;
}

.textCenter
{
    text-align: center;
}