<div class="">
  <div class="container w-100 p-3" id="image1">
    <div class="row h-100" id="text">
      <div>
        <img src="../assets/32578442.png" id="logo" alt="logo" />
        <h1 id="trivial"> Trivial'Code</h1>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row h-100" id="blocBleu1">

    <div class="col-md-5 ">
      <div class="row h-100" id="text">
        <h3>Qu'es-ce que c'est?</h3>
        <p> ppppppppppppppp
          ppppppppppppppppppp
          ppppppppppppppppppppppp
          pppppppppppppppppppppppp
        </p>
      </div>
    </div>

    <div class="col-md-5" id="text">
      <img src="../assets/manette.png" width="460 " id="manette" alt="logo" />
    </div>

  </div>
</div>


<div class="container" id="image2">
</div>


<div class="container" id="blocBlanc">
  <div class="row h-100" id="text">
    <h3>Comparer vous à d'autres joueurs</h3>
    <p>ppppppppppppppppppppppppppp
      pppppppppppppppppppppppppppppppp
      pppppppppp
      ppppppppppppppppppp
      pppp
    </p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6" id="image3">

    </div>
    <div class="col-md-6" id="blocBleu2">

    </div>
  </div>

</div>