#image1 {
    background-image:url('src/assets/hbdbPBzw.jpeg');
    height:500px;
}

.row {
    flex-direction: column;
}
  
.question {
    font-style: bold;
    font-size: larger;
}

.response {
    font-size: large;
}

.code {
    padding: 1%;
    width: auto;
    border-radius: 100%;
}

.overlay {
    transform: scale(1);
    transition: .3s ease;
  }
  
  .overlay:hover {
    transform: scale(1.5);
  }