<div class="w-100 p-3 image" id="image1">
  <div class="row h-100 text">
    <img src="../assets/32578442.png" class="logo" alt="" />
    <h1 class="trivial">La foire aux questions</h1>
  </div>
</div>
<div *ngFor="let faq of faqs" class="">
  <i class="material-icons blocBleu code overlay">code</i>
    <p class="question">{{ faq.id }} - {{ faq.question }}</p>
    <p class="response">{{ faq.response }}</p>   
</div>

<!-- a supprimé pour test -->
<button title="Test create"
    (click)="postFaq()">Test create</button>
    <button title="Test delete"
    (click)="deleteFaq()">Test delete</button>
<!-- a supprimé pour test -->