<div class="w-100 p-3 image" id="image1">
  <div class="row h-100 text">
    <img src="../assets/32578442.png" class="logo" alt="" />
    <h1 class="trivial">La foire aux questions</h1>
  </div>
</div>

<div class="row h-100 text blocBlanc">
  <h3>Les règles du jeu</h3>
  <p>ppppppppppppppppppppppppppp
    pppppppppppppppppppppppppppppppp
    pppppppppp
    ppppppppppppppppppp
    pppp
  </p>
</div>

<div class="row h-100 text blocBlanc">
  <h3>Fonctionnement du site</h3>
  <p>ppppppppppppppppppppppppppp
    pppppppppppppppppppppppppppppppp
    pppppppppp
    ppppppppppppppppppp
    pppp
  </p>
</div>