<div class="">
    <div class="container w-100 p-3" id="image1">
      <div class="row h-100" id="text">
        <div>
          <img src="../assets/32578442.png" id="logo" alt="logo" />
          <h1 id="trivial"> La foire aux questions</h1>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container" id="blocBlanc">
    <div class="row h-100" id="text">
      <h3>Les règles du jeu</h3>
      <p>ppppppppppppppppppppppppppp
        pppppppppppppppppppppppppppppppp
        pppppppppp
        ppppppppppppppppppp
        pppp
      </p>
    </div>
  </div>

  <div class="container" id="blocBlanc">
    <div class="row h-100" id="text">
      <h3>Fonctionnement du site</h3>
      <p>ppppppppppppppppppppppppppp
        pppppppppppppppppppppppppppppppp
        pppppppppp
        ppppppppppppppppppp
        pppp
      </p>
    </div>
  </div>