<div class="compte">
    <!-- logo -->
    <div id="logoCompte">
        <img src="../assets/vector.png" class="logo" alt="" />
    </div>
    <div id="allCompte">
        <section id="titreUser">
            <h1>Nom Prénom</h1>
        </section>
        <div>
            <button id="majButton" class="majButton">Mettre à Jour Mes Données</button>                       
        </div>
        <div>
            <button id="majButton" class="majButton">Me Déconnecter</button>
            <button id="scoreButton" class="scoreButton">Consulter mes Scores</button>
        </div>
        <div>
            <button id="majButton">Me Désinscrire</button>
            <button id="scoreButton" class="scoreButton">Partager mes Scores</button>
        </div>
    </div>
</div>