<div class="compte">
    <div class="image">
        <div class="containerTop">
            <!-- logo -->
            <div id="logoCompte">
                <img src="../assets/vector.png" class="logo" alt="" />
            </div>
            <div id="titreUser">
                <h1>{{ user.username }}</h1>
            </div>
            <p class="dateInscription" id="dateInscription">Inscrit le : {{ user.dateInscription }}</p>
            <p class="idJoueur" id="idJoueur"> Joueur n° {{ user.id }}</p>
            <h4 class="titreCompte">Mon compte utilisateur</h4>
        </div>
    </div>
    <div id="partieBoutons">
        <div class="majButton">
            <div>
                <button type="submit" id="majButton1" (click)="openUpdateForm()">Mettre à jour mon email</button>
                <div *ngIf="updateForm">
                    <div class="alert alert-light" id="customUpdateForm" role="alert">
                        <form (ngSubmit)='updateUser(form)' class="" id="formUpdate">

                            <div class="form-group">
                                <input [formControl] = "update" type="email" name="email" class="form-control" placeholder="email" id="email" value="{{ user.email }}">
                            </div>
            
                            <button type="submit"  class="btn btn-primary" id="emailButton">M'inscrire</button>
            
                        </form>
                    </div>
                </div>
            </div>
            <button id="majButton2" (click)="logout()" [routerLink]="['/connexion']">Me Déconnecter</button>
            <div>
                <button id="majButton3" (click)="openDeleteForm()" >Me Désinscrire</button>
                <div *ngIf="deleteForm">
                    <div class="alert alert-light" id="customUpdateForm" role="alert">
                        <form (ngSubmit)='deleteUser()' class="" id="formUpdate">

                            <p> Êtes-vous sur de supprimer votre compte?</p>
                            <button type="submit" ng-click="create=true" class="btn btn-primary" id="emailButton">Me désinscrire</button>
            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="majButton2">
            <button id="scoreButton" class="scoreButton" (click)="openScore()">Consulter mes Scores</button>
            <div *ngIf="scoreShow">
                <div class="alert alert-light" id="customUpdateForm" role="alert">

                        <p> Votre meilleur score est de: {{ user.ranking }} </p>        
                </div>
            </div>
        </div>
    </div>
</div>