<div class="compte">
    <div class="image">
        <div class="containerTop">
            <!-- logo -->
            <div id="logoCompte">
                <img src="../assets/vector.png" class="logo" alt="" />
            </div>
            <div id="titreUser">
                <h1>Nom Prénom</h1>
            </div>
            <p class="dateInscription" id="dateInscription">Inscrit le jj/mm/aaaa</p>
            <p class="idJoueur" id="idJoueur">Numero X/Y Joueurs</p>
            <h4 class="titreCompte">Mon compte utilisateur</h4>
        </div>
    </div>
    <div id="partieBoutons">
        <div class="majButton">
            <button id="majButton1" >Mettre à Jour Mes Données</button>                       
            <button id="majButton2" >Me Déconnecter</button>            
            <button id="majButton3" >Me Désinscrire</button>                
        </div>
        <div class="majButton2">
            <button id="scoreButton" class="scoreButton">Consulter mes Scores</button>
            <button id="scoreButton" class="scoreButton">Partager mes Scores</button>
        </div>
    </div>
</div>