.image 
{
    background-image:url('src/assets/home-ladder.jpg');
    height:660px; 

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.containerTop{
    position: relative;
    top: 42.03%;
    height: 500px;
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
#logoCompte{
    position: relative;
    left: 31%;
    width: 150px;
}
.dateInscription, .titreCompte, .idJoueur{
    text-align: center;
    color: white;
    font-style: italic;
}
#dateInscription{
    font-size: 18px;
}
#idJoueur{
    position: relative;
    left: 14%;
    background-color: white;
    width: 250px;
    padding-top: 18px;
    padding-bottom: 18px;

    border-radius: 20px;
    border: 1px;
    color: black;
}
#partieBoutons{
    height: 560px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #56baed;
}
#titreUser{
    
    top: 15%;
    text-align: center;
    top: 20%;
    color: white;
}
#majButton1, #majButton2, #majButton3{
    width: 280px;
    height: 60px;
    border-radius: 20px;
    border: 0px;

    position: relative;
    left: 46px;


    background-color: white;
    color: black;
}
#scoreButton{
    width: 280px;
    height: 60px;
    border-radius: 20px;
    border: 0px;

    position: relative;
    left: 46px;

    background-color: black;
    color: white;
}
.majButton{

    width: 380px;
    height: 380px;

    position: relative;
    top: 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.majButton2{

    width: 380px;
    height: 300px;

    position: relative;
    top: 22%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  