<h3>Gestion Faq</h3>

<table class="table col-10 mx-auto">
    <thead>
        <tr>
            <th style="width:5%" scope="col">Id</th>
            <th style="width:5%" scope="col">Priorité</th>
            <th style="width:30%" scope="col">Question</th>
            <th style="width:60%" scope="col">Reponse</th>
        </tr>
    </thead>

    <tbody *ngFor="let faq of faqs; let index = index" class="table">
        <td>{{faq.id}}</td>
        <td>{{faq.priority}}</td>
        <td>{{faq.question}}</td>
        <td>{{faq.response}}</td>
    </tbody>
</table>

<div>

    <h3 class="ajout text-left" style="margin-top:100px;">Ajouter Faq</h3>

    <form [formGroup]='form' (ngSubmit)='postFaq(form)' class="col-5 mx-auto">

        <div class='form-group'>
            <div class="form-group">
                <label>Priorite</label>
                <input formControlName=priorite class="form-control" rows="1">
            </div>
            <div class="form-group">
                <label> Question </label>
                <textarea formControlName=question class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label> Réponse </label>
                <textarea formControlName=reponse class="form-control" rows="6"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    </form>


    <h3 class="ajout text-left" style="margin-top:100px;">Modifier Faq</h3>

    <form [formGroup]='form' (ngSubmit)='updateFaq(form)' class="col-5 mx-auto">

        <div class="form-group">
            <label>ID</label>
            <input formControlName=id class="form-control">
        </div>
        <div class="form-group">
            <label> Priorité </label>
            <input formControlName=priorite class="form-control">
        </div>
        <div class="form-group">
            <label> Question </label>
            <textarea formControlName=question class="form-control" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label> Réponse </label>
            <textarea formControlName=reponse class="form-control" rows="6" #reponse></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>

    </form>


    <h3 class="ajout text-left" style="margin-top:100px;">Supprimer Faq</h3>

    <form [formGroup]='form' (ngSubmit)='deleteFaq(form)' class="col-5 mx-auto">
        <div class="form-group">
            <label>ID</label>
            <input type="number" formControlName=id class="form-control" placeholder="Entrer id">
            <small class="form-text text-muted">Saissir id de la faq à supprimer</small>
        </div>
        <button type="submit" class="btn btn-primary">Supprimer</button>
    </form>



</div>