

<nav class="col-12 mx-auto">
<div class="nav nav-tabs" id="nav-tab" role="tablist" style="margin-top: 75px;">
  <a class="nav-item nav-link active" id="nav-questions-tab" data-toggle="tab" href="#questions" aria-controls="nav-questions" aria-selected="true">Questions</a>
  <a class="nav-item nav-link" id="categories-tab" data-toggle="tab" href="#categories" aria-controls="nav-categories" aria-selected="false">Categories</a>
  <a class="nav-item nav-link" id="ressources-tab" data-toggle="tab" href="#ressources" aria-controls="nav-ressources" aria-selected="false">Ressources</a>
  <a class="nav-item nav-link" id="utilisateurs-tab" data-toggle="tab" href="#utilisateurs" aria-controls="nav-utilisateur" aria-selected="false">Utilisateurs</a>
  <a class="nav-item nav-link" id="typeUtilisateur-tab" data-toggle="tab" href="#typeUtilisateur" aria-controls="nav-typeUtilisateur" aria-selected="false">Type Utilisateur</a>
  <a class="nav-item nav-link" id="langages-tab" data-toggle="tab" href="#langages" aria-controls="nav-langages" aria-selected="false">Langages</a>
  <a class="nav-item nav-link" id="faq-tab" data-toggle="tab" href="#faq" aria-controls="nav-faq" aria-selected="false">Faq</a>
</div>
</nav>

<div class="tab-content" id="nav-tabContent">
<app-gestion-utilisateurs class="tab-pane fade" id="utilisateurs" aria-labelledby="nav-utilisateur-tab"></app-gestion-utilisateurs>
<app-gestion-type-utilisateur  class="tab-pane fade" id="typeUtilisateur" aria-labelledby="nav-typeUtilisateur-tab"></app-gestion-type-utilisateur>
<app-gestion-langages class="tab-pane fade" id="langages" aria-labelledby="nav-langages-tab"></app-gestion-langages>
<app-gestion-questions class="tab-pane fade show active" id="questions" aria-labelledby="nav-questions-tab"></app-gestion-questions>
<app-gestion-categories class="tab-pane fade" id="categories" aria-labelledby="nav-categories-tab"></app-gestion-categories>
<app-gestion-ressources class="tab-pane fade" id="ressources" aria-labelledby="nav-ressources-tab"></app-gestion-ressources>
<app-gestion-faq class="tab-pane fade" id="faq"  aria-labelledby="nav-faq-tab"></app-gestion-faq>
</div>
