<div >
    <div class="container" id="image1">
        <div class="row h-100" id="text">
           
            <div class="wrapper fadeInDown">
                <div id="formContent">

                    <div class="fadeIn first">
                        <img src="../assets/32578442.png" id="logo" alt="logo" />
                    </div>

                    <form >
                        <input 
                        type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
                        <input 
                        type="text" id="password" class="fadeIn third" name="login" placeholder="Mot de passe">
                        <input   type="submit" class="fadeIn fourth" value="Se connecter">
                  
                    </form>

                    <div id="formFooter">
                        <a class="underlineHover col-6 " href="#">Mot de passe oublié?</a>
                        <a class="underlineHover col-6" href="#">S'inscrire</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>