<h3>Gestion Ressources</h3>


<table class="table col-10 mx-auto">
    <thead>
        <tr>
            <th style="width:5%" scope="col">Id</th>
            <th style="width:10%" scope="col">Texte</th>
            <th style="width:85%" scope="col">Lien</th>
        </tr>
    </thead>
    <tbody *ngFor="let ressource of ressources; let index = index" class="table">
        <td>{{ressource.id}} </td>
        <td> {{ressource.text}}</td>
        <td> {{ressource.link}}</td>
    </tbody>
</table>


<h3 class="ajout text-left" style="margin-top:100px;">Ajouter Ressource</h3>
<form [formGroup]='form' (ngSubmit)='postLink(form)' class="col-5 mx-auto">
    <div class="form-group">
        <label>Texte</label>
        <input formControlName=text class="form-control">
    </div>
    <div class="form-group">
        <label> Lien </label>
        <textarea formControlName=link class="form-control" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>


<h3 class="ajout text-left" style="margin-top:100px;">Modifier Ressource</h3>
<form [formGroup]='form' (ngSubmit)='updateLink(form)' class="col-5 mx-auto">
    <div class="form-group">
        <label>ID</label>
        <input formControlName=id class="form-control">
    </div>
    <div class="form-group">
        <label> Texte </label>
        <input formControlName=text class="form-control">
    </div>
    <div class="form-group">
        <label> Lien </label>
        <textarea formControlName=link class="form-control" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
</form>


<h3 class="ajout text-left" style="margin-top:100px;">Supprimer Ressource</h3>
<form [formGroup]='form' (ngSubmit)='deleteLink(form)' class="col-5 mx-auto">
    <div class="form-group">
        <label>ID</label>
        <input type="number" formControlName=id class="form-control" placeholder="Entrer id">
        <small class="form-text text-muted">Saissir id de la ressource à supprimer</small>
    </div>
    <button type="submit" class="btn btn-primary">Supprimer</button>
</form>