<h3>Gestion Categorie</h3>


<table class="table col-4 mx-auto">
  <thead>
    <tr>
      <th style="width:30%" scope="col">Id</th>
      <th style="width:70%" scope="col">type</th>
    </tr>
  </thead>
  <tbody *ngFor="let categorie of categories;" class="table">
    <td>{{categorie.id}} </td>
    <td> {{categorie.type}}</td>
  </tbody>
</table>


<h3 class="ajout text-left" style="margin-top:100px;">Ajouter Categorie </h3>
<form [formGroup]='form' (ngSubmit)='postCategory(form)' class="col-5 mx-auto">
  <div class="form-group">
    <label>Type</label>
    <input formControlName=type class="form-control" rows="1">
  </div>
  <button type="submit" class="btn btn-primary">Ajouter</button>
</form>


<h3 class="ajout text-left" style="margin-top:100px;">Modifier Categorie</h3>
<form [formGroup]='form' (ngSubmit)='updateCategory(form)' class="col-5 mx-auto">
  <div class="form-group">
    <label>Id</label>
    <select (change)="dynForm($event)" class="form-control" formControlName=id>
      <option *ngFor="let categorie of categories" [ngValue]="categorie.id">{{categorie.id}}</option>
    </select>
  </div>
  <div class="form-group">
    <label> type </label>
    <input formControlName=type class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Modifier</button>
</form>


