<header>

    <!-- navbar present sur chaque page, position fixed-->

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="navigation">

        <!-- logo de l'application -->

        <a [routerLink]="['']" class="navbar-brand"> <span class="brandColor">
                < </span> Trivial'Code <span class="brandColor">/></span></a>

        <!-- navbar responsive, utilise bootstrap -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsive">

            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar-->

        <div class="collapse navbar-collapse" id="responsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['']" appColor>
                        <i class="material-icons">home</i>
                        Accueil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/jouer']" appColor>
                        <i class="material-icons">play_arrow</i>
                        Jouer</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/connexion']" appColor>
                        <i class="material-icons">person</i>
                        Connexion</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/faq']" appColor>
                        <i class="material-icons">question_answer</i>
                        Faq</a>
                </li>
            </ul>
        </div>
    </nav>
</header>