<section class="fontsection image">

  <div class="topdiv" id="pregame" *ngIf="gamestatement === 0">
    <h1>Règles du jeu</h1>
    <p>Le jeu se présente sous forme de Quizz sur les langages de programmations.</p>
    <p>Avant de commencer le jeu, il vous faut choisir un ou plusieurs langages pour jouer.</p>
    
    <form [formGroup]='formselectlang' (ngSubmit)='findQuestions(formselectlang)' class="col-5 mx-auto">
      <div class="form-group">
        <label><p>Veuillez selectionner un/ou plusieurs langages.</p></label>
        <select multiple class="form-control" formControlName=selectlangage>
          <option *ngFor="let langage of langages">{{langage.language}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
  </div>

  <div class="topdiv" id="game" *ngIf="gamestatement === 1">
    <h2>{{ gametitle }}</h2>
    <div class="gamecadre">
      <div class="question">
        <h3><p>{{question.question}}</p></h3>
      </div>
      <button type="button" class="reponses" *ngFor="let reponse of reponses" (click)="checkResponse($event)">
        <p>{{ reponse }}</p>
      </button>
    </div>
  </div>

  <div class="topdiv" id="endgame" *ngIf="gamestatement === 2">
    <p>point : {{ point }}</p>
  <tbody *ngFor="let recapQuestion of useQuestions">
    <tr><td>{{ recapQuestion.question }}</td><td>{{ recapQuestion.ressource.text }}</td><td>{{ recapQuestion.ressource.link }}</td></tr>
  </tbody>
  </div>

</section>